*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f8fb;
    color: #333;
    line-height: 1.6;
}

header{
    background-color: #337044;
    color: rgb(217, 241, 203);
    padding: 20px;
}

header h1{
    text-align: center;
    margin-bottom: 15px;
}

header h2{
    text-align: center;
    color: rgb(154, 226, 182);
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
nav li{
    margin-right: 25px;
}

nav li:last-child{
    margin-right: 0;

}

nav a{
    color: rgb(124, 187, 166);
    text-decoration: none;
    font-weight: bold;
}

main{
    padding: 30 px;
    background-color: #96d8a9;
}

footer{
    background-color: #2e6f40;
    color: white;
    text-align: center;
    padding: 15px;
}

section{
    margin: 30px;
}

section h2{
    color: #2e6f40;
    margin-bottom: 15px;
}

section img{
    width: 50%;
    border-radius: 10px;
}

.colunas{
    display: flex;
    margin-top: 30px;
}

.esquerda{
    width: 50%;
    margin-right: 20px;
}

.esquerda img{
    width: 75%;
    border-radius: 10px;
}

.direita{
    width: 50%;
}

.direita img{
    width: 80%;
    border-radius: 10px;
}

main h2{
    font-family: Arial, sans-serif;
    color: #2e6f40;
    text-align: center;
}

main h3{
     font-family: Arial, sans-serif;
    color: #173521;
    text-align: center;
}

.ponto{
    text-align: center;
    font-family: Arial, sans-serif;
    color: #173521;
}

.ponto img{
    width: 300px;
}

.caixa{
    text-align: center;
    padding-top: 20vh;
}